* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eeeeee;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo {
    text-align: center;
    margin-top: 100px;
    color: #222831;
}

.container {
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    width: 600px;
    height: 350px;
    background-color: #32e0c4;
}

.container-resultado {
    margin: auto;
    padding: 5px;
    background-color: #eeeeee;
    width: 200px;
    height: 40px;
}

.texto-resultado {
    float: right;
    color: #222831;
    font-size: 1.5em;
}

.container-inputs {
    display: none;
    /* justify-content: space-around;
    margin: 10px; */
}

.container-numbers {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 1px yellow solid;
}

.row-number {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
}

.bnt-number {
    flex-basis: 25%;
    height: 30px;
    margin-right: 5px;
    background-color: #393e46;
    color: #eeeeee;
    font-size: 1.5em;
}

.numero-inputs {
    padding: 3px;
    height: 40px;
    font-size: 1em;
    background-color: #eeeeee;
}

.container-bnt-operadores {
    display: flex;
    border: 2px red solid;
}

.bnt-operador {
    width: 30px;
    height: 30px;
    background-color: #424750;
    color: #eeeeee;
    font-size: 1.5em;
    margin-top: 15px;
}

.bnt-operador:hover {
    background-color: #68707e;
    ;
}